[submodule ".registry"]
	path = .registry
	url = https://github.com/globalfishingwatch/globalfishingwatch.r-universe.dev
	branch = HEAD
[submodule "gfwr"]
	path = gfwr
	url = https://github.com/GlobalFishingWatch/gfwr
